body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: auto;
  
}
.container {
  max-width: 800;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: monospace;
  background-color: skyblue;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;

}
.buttons {
  display: flex;
  gap: 10px;

}

button{
  background-color:cornflowerblue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  background-color: white;
  color: cornflowerblue;
}

select{
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px;
}
textarea{
  background-color: cornflowerblue;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 10px;
}