body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #A3CEF1;
  font-family: 'Space Grotesk', sans-serif;
}
.container {
  max-width: 800;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: monospace;
  background-color: #274C77;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  /* width: 100%; */
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;

}
.ciphertext{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ciphertext textarea{
  width: 300px;
  height: 50px;
}

.buttons {
  display: flex;
  gap: 10px;

}

button{
  background-color: #E7ECEF;
  color: #274C77;
  border: 1px solid #274C77;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  background-color: #274C77;
  color: #E7ECEF;
  border: 1px solid #E7ECEF;
}

select{
  background-color: #E7ECEF;
  color: #274C77;
  border: none;
  border-radius: 10px;
  padding: 8px;
}
textarea{
  background-color: #E7ECEF;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #274C77;
  width: 200px;
  height: 30px;
  font-family: 'Space Grotesk', sans-serif;
}